</main>
    <link rel="stylesheet" href="/styles/styles.css">

    <footer>
        <div class="text left">
            Copyright © <%= new Date().getFullYear(); %>
        </div>
        <div class="text">
            <a href="mailto:contact.alzubi@gmail.com" style="text-decoration:none" class="middle">Contact Us</a>
        </div>
        <div class="text right">
            Creative Solutions By Omar
        </div>
    </footer>
</html>

